body {
    background-color: #FDFDFD;
}

h3 {
    text-transform: uppercase;
    font-weight: 600;
}

a {
    text-decoration: none;
    border-color: transparent;
    color: #FDFDFD;
}

img {
    border-radius: 5px 5px 0 0;
    height: 140px;
    width: 100%;
}

.button_hover:hover {
    background-color: #202020;
    color: #FDFDFD;
}

.button_hover_danger:hover {
    background-color: #C45353;
    color: #FDFDFD;
}

.form_delete {
    margin-top: 10px;
}

.offcanvas_black {
    background-color: #202020;
    color: #FDFDFD;
}

.header {
    color: #FDFDFD;
    background-color: #202020;
}

.header_gap {
    gap: 30px;
}

.btn {
    background-color: #0FC9BE;
    color: #FDFDFD;
}

.container_title {
    background-color: #202020;
    color: #FDFDFD;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 621px;

    text-align: center;

}

.title {
    position: relative;
    margin-top: 137px;
    width: 600px;
    height: 77px;
    font-size: 64px;
    text-transform: uppercase;
    font-weight: 600;
}

.sub_title {
    position: relative;
    width: 600px;
    height: 39px;

    font-size: 32px;
    text-transform: lighter;
    font-weight: normal;

    text-align: center;
}

.card_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    margin-top: 50px;
    margin-bottom: 50px;
}

.card_black {
    background-color: #202020;
    color: #FDFDFD;
}

.container_form {
    margin-top: 30px;
}

.container_form_log {
    margin-top: 150px;
}

.section_profil {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.register_infor {
    font-weight: bolder;
}

.container_details {
    height: 228px;
    width: 100%;
    color: #FDFDFD;
    display: flex;

    background-color: lightblue;
}

.details_title {
    width: 600px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 600;

    background-color: #202020;
}

.details_image {
    width: 100%;
    height: 100%;

}

.title_upper {
    text-transform: uppercase;
    font-weight: 600;
}

.date_event_font {
    font-weight: 600;
}

.card_line {
    border: none;
    background-color: #FDFDFD;
}

.container_tournament {
    margin-top: 100px;
}

.result_tournament {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_place {
    height: 100px;
    width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.item_place_rank {
    height: 100px;
    width: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container_filter {
    margin-left: 100px;
    margin-top: 20px;
}

.container_filter_card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    margin-top: 50px;
    margin-bottom: 50px;

}

.filter_black {
    color: #202020;
    display: flex;
    justify-content: center;

}

.filter_black:hover {
    color: #0FC9BE;
}

.margin_footer{
    margin-top: 100px;
}


@media only screen and (max-width: 900px) {
    .container_filter_card{
        display: flex;
        justify-content: center;

        margin-left: 0px;
    }
}

@media only screen and (max-width: 700px) {
    .sub_title {
        position: relative;
        width: 600px;
        height: 39px;

        font-size: 20px;
        text-transform: lighter;
        font-weight: normal;

        text-align: center;
    }

    
    .container_filter{
        margin-left: 40px;
    }

    .section_profil {
        display: flex;
        margin-left: 0px;
        justify-content: center;

    }
}

@media only screen and (max-width: 400px) {
    .sub_title {
        position: relative;
        width: 600px;
        height: 39px;

        font-size: 14px;
        text-transform: lighter;
        font-weight: normal;

        text-align: center;
    }

    .responsive {
        display: flex;
        flex-direction: column;
    }

    .container_filter{
        margin-left: 10px;
    }

}