.header{
    color:#FDFDFD;
    background-color: #202020;
}

.header_gap{
    gap: 30px;
}

.btn{
    background-color: #0FC9BE;
    color:#FDFDFD;
}

.container_title{
    background-color: #202020;
    width: 100%;
    height: 621px;
}
